<!-- Modal -->
<div id="<%= product.product_id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= product.name %></h4>
      </div>
      <div class="modal-body">
        <p><%= product.short_description.html_safe %></p>
        <%= link_to "Show details", shop_path(@shop, product_id: product.product_id), remote: true, class: "modal-button", id: "ajax-button" %>


        <div class="spinner" id="loading">
          <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
          </div>
        </div>


      <div class="modal-details">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
