console.log("hello from show.js.erb")
console.log("<%= @product_detail %>")
var modal = document.getElementById('<%= @product_id %>');
var button = modal.getElementsByClassName('modal-button')[0];
var details = modal.getElementsByClassName('modal-details')[0];
modal.getElementsByClassName('close-button')[0].addEventListener("click", resetModal);
modal.getElementsByClassName('close-button')[1].addEventListener("click", resetModal);
function resetModal() {
    button.innerHTML = "Show details";
    details.innerHTML = "";;
}
// console.log(button[0].innerHTML)

if (button.innerHTML === "Show details") {
    button.innerHTML = "Hide details";
    details.innerHTML = 'Total order: <%= @shop_api.sales(product_id: @product_id).sales_per_currency.first.total_orders%> \
                        <p> Customers:\ </p> \
                        <ul> \
                        <%find_buyers(@product_id, @orders_details).each do |buyer| %> \
                          <li>\
                            <%= buyer %>\
                          </li>\
                        <%end %>\
                        </ul>';
} else if (button.innerHTML === "Hide details") {
    button.innerHTML = "Show details";
    details.innerHTML = "";
}



